.edit-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list-column {
  min-width: 300px;
  width: 50%;
  background-color: rgb(247, 237, 202);
  padding: 20px;
  border-radius: 2%;
  margin: 5px;
  text-align: center;
}